*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.portrait{
    position:absolute;
    top: 0;
    border:2px  solid black;
    left: 0;
    width: 300px;
    height:500px;
}

.portrait img {
    position: absolute;
    top: 0;
    border:2px  solid black;
    left: 600px ;
    width: 300px;
    height:500px;
    object-fit: cover;
}

.portrait img.text{
mix-blend-mode: multiply;
filter:contrast(1);
}

.actual img {
    width: 300px;
    height:500px;
    border:2px  solid black;
    top: 0;
}

